.logo__holder{
    border: 1px solid red;
    border-radius: 40px;
    background: var(--white);
    float: left;
    position: relative;
    top: 15px;
    left: 120px;
    display: block;
    width: 140px;
    height: 90px;
    text-align: center;
    line-height: 90px;
}

.logo__name{
    background: var(--azul-claro);
    border: 1px solid blue;
    float: left;
    position: relative;
    top: 38px;
    left: 120px;
    display: block;
    width: 90px;
    height: 45px;
    text-align: center;
    line-height: 45px;
}

.navigation__header{
    background: var(--cinza);
    position: relative;
    right: 80px;
    margin-top: 40px;
    float: right;
    border: 1px solid black;
}

.navigation__header li{
    padding: 0 10px;
    display: inline;
    line-height: 40px;
}
