@import url(footer__styles.css);
@import url(form__validation.css);
@import url(curriculums__filter.css);
@import url(curriculums__link.css);
@import url(curriculums__recog.css);

#home{
    color: white;
    background: #6c757d;
}

.horizontal__rule__box{
    padding: 60px 0;
    border-bottom: 1px solid dimgray;
}

.footer__bt{
    border-top: 1px solid black;
}

.footer__socials a{
    padding-top: 10px;
    margin: 10px;
}

.footer__background{
    background-color: #6c757d;
}

.box__decor{
    box-shadow: #3d3d3d -6px 6px 2px;
}

.filter__curriculums{
    max-height:480px; 
    border-radius: 0 0 15px 0;

}

.valid{
    color: green;
    background: greenyellow;
    border: 2px solid green;
    transition: 500ms;
}

.invalid{
    border: 2px solid rgb(228, 43, 43);
    color: darkred;
    background: rgb(201, 167, 167);
    transition: 500ms;
}

.invalid::placeholder{
    color: rgb(187, 54, 54);
}

footer p{
    padding-left: 30px;
    padding-top: 10px;
}
footer p a{
    line-height: 40px;
    margin-left: 20px;
    color: white;
}