#home{
    color: white;
    background: #6c757d;
}

.horizontal__rule__box{
    padding: 60px 0;
    border-bottom: 1px solid dimgray;
}

.footer__bt{
    border-top: 1px solid black;
}

.footer__socials a{
    padding-top: 10px;
    margin: 10px;
}

.footer__background{
    background-color: #6c757d;
}

.box__decor{
    box-shadow: #3d3d3d -6px 6px 2px;
}

.filter__curriculums{
    max-height:480px ; border-radius: 0 0 15px 0;
}

footer p{
    padding-left: 30px;
    padding-top: 10px;
}
footer p a{
    line-height: 40px;
    margin-left: 20px;
    color: white;
}