.banner__content{
    background: var(--background-banner);
    display: flex;
    border: 1px solid red;
    height: 280px;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 10px;
}

.banner__inner__content{
    width: 48%;
    margin: 10px;
    border: 1px solid purple;
    height: 260px;
}

.banner__sample{
    margin: 0px auto
}

.bigger__banner__content{
    background: var(--background-banner);
    height: 360px;
    display: flex;
    border: 1px solid orangered;
    margin-bottom: 10px;
}
